/*...............................CODE FOR SPARKLES....................................*/

.sparkle {
  transform: rotate(-44.549deg);
  width: 36px;
  height: 36px;
  position: absolute;
  z-index: 30;
  opacity: 0;
  transform: translateZ(0);
  will-change: transform, opacity;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.bla {
  background-color: #28322b;
}

.pin {
  background-color: #ed39a0;
}

.gre {
  background-color: #8ded39;
}

.tur {
  background-color: #43f077;
}

.one {
  position: absolute;
  top: -100px;
  left: 110px;
  animation: one 2s ease-in-out infinite;
  animation-delay: 4s;
}

@keyframes one {
  0% {
    height: 25px;
    width: 25px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.3) rotate(-45deg);
    opacity: 1;
  }
  100% {
    height: 25px;
    width: 25px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
}

.two {
  position: absolute;
  top: -170px;
  left: 50px;
  animation: two 3s ease-in-out infinite;
  animation-delay: 4s;
}

@keyframes two {
  0% {
    height: 31px;
    width: 31px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.5) rotate(-45deg);
    opacity: 1;
  }
  100% {
    height: 31px;
    width: 31px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
}

.three {
  position: absolute;
  top: -110px;
  left: 20px;
  animation: three 1.5s ease-in-out infinite;
  animation-delay: 4s;
}

@keyframes three {
  0% {
    height: 27px;
    width: 27px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.2) rotate(-45deg);
    opacity: 1;
  }
  100% {
    height: 27px;
    width: 27px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
}

.four {
  position: absolute;
  top: -190px;
  left: 400px;
  animation: four 3s ease-in-out infinite;
  animation-delay: 4s;
}

@keyframes four {
  0% {
    height: 20px;
    width: 20px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.4) rotate(-45deg);
    opacity: 1;
  }
  100% {
    height: 20px;
    width: 20px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
}

.five {
  position: absolute;
  top: -210px;
  left: 430px;
  animation: five 2s ease-in-out infinite;
  animation-delay: 4s;
}

@keyframes five {
  0% {
    height: 30px;
    width: 30px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.4) rotate(-45deg);
    opacity: 1;
  }
  100% {
    height: 30px;
    width: 30px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
}

.six {
  position: absolute;
  top: -180px;
  left: 630px;
  animation: six 3s ease-in-out infinite;
  animation-delay: 4s;
}

@keyframes six {
  0% {
    height: 30px;
    width: 30px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.5) rotate(-45deg);
    opacity: 1;
  }
  100% {
    height: 30px;
    width: 30px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
}

.seven {
  position: absolute;
  top: -100px;
  left: 820px;
  animation: seven 2s ease-in-out infinite;
  animation-delay: 4s;
}

@keyframes seven {
  0% {
    height: 26px;
    width: 26px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.4) rotate(-45deg);
    opacity: 1;
  }
  100% {
    height: 26px;
    width: 26px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
}

.eight {
  position: absolute;
  top: -70px;
  left: 870px;
  animation: eight 3s ease-in-out infinite;
  animation-delay: 4s;
}

@keyframes eight {
  0% {
    height: 23px;
    width: 23px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.2) rotate(-45deg);
    opacity: 1;
  }
  100% {
    height: 23px;
    width: 23px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
}

.nine {
  position: absolute;
  top: -120px;
  left: 900px;
  animation: nine 1s ease-in-out infinite;
  animation-delay: 4s;
}

@keyframes nine {
  0% {
    height: 20px;
    width: 20px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
  50% {
    transform: scale(1.4) rotate(-45deg);
    opacity: 1;
  }
  100% {
    height: 20px;
    width: 20px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
}

.ten {
  position: absolute;
  top: -260px;
  left: 1100px;
  animation: ten 2s ease-in-out infinite;
  animation-delay: 4s;
}

@keyframes ten {
  0% {
    height: 28px;
    width: 28px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.5) rotate(-45deg);
    opacity: 1;
  }
  100% {
    height: 28px;
    width: 28px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
}

.eleven {
  position: absolute;
  top: 140px;
  left: 50px;
  animation: eleven 2s ease-in-out infinite;
  animation-delay: 4s;
}

@keyframes eleven {
  0% {
    height: 31px;
    width: 31px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.4) rotate(-45deg);
    opacity: 1;
  }
  100% {
    height: 31px;
    width: 31px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
}

.twelve {
  position: absolute;
  top: 160px;
  left: 150px;
  animation: twelve 3s ease-in-out infinite;
  animation-delay: 4s;
}

@keyframes twelve {
  0% {
    height: 27px;
    width: 27px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.5) rotate(-45deg);
    opacity: 1;
  }
  100% {
    height: 27px;
    width: 27px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
}

.thirteen {
  position: absolute;
  top: 270px;
  left: 100px;
  animation: thirteen 1.5s ease-in-out infinite;
  animation-delay: 4s;
}

@keyframes thirteen {
  0% {
    height: 29px;
    width: 29px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.3) rotate(-45deg);
    opacity: 1;
  }
  100% {
    height: 29px;
    width: 29px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
}

.fourteen {
  position: absolute;
  top: 300px;
  left: 150px;
  animation: fourteen 1s ease-in-out infinite;
  animation-delay: 4s;
}

@keyframes fourteen {
  0% {
    height: 29px;
    width: 29px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.5) rotate(-45deg);
    opacity: 1;
  }
  100% {
    height: 29px;
    width: 29px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
}

.fifteen {
  position: absolute;
  top: 280px;
  left: 230px;
  animation: fifteen 2s ease-in-out infinite;
  animation-delay: 4s;
}

@keyframes fifteen {
  0% {
    height: 20px;
    width: 20px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.2) rotate(-45deg);
    opacity: 1;
  }
  100% {
    height: 20px;
    width: 20px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
}

.sixteen {
  position: absolute;
  top: 200px;
  left: 280px;
  animation: sixteen 3s ease-in-out infinite;
  animation-delay: 4s;
}

@keyframes sixteen {
  0% {
    height: 26px;
    width: 26px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.5) rotate(-45deg);
    opacity: 1;
  }
  100% {
    height: 26px;
    width: 26px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
}

.seventeen {
  position: absolute;
  top: 180px;
  left: 800px;
  animation: seventeen 2s ease-in-out infinite;
  animation-delay: 4s;
}

@keyframes seventeen {
  0% {
    height: 30px;
    width: 30px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.3) rotate(-45deg);
    opacity: 1;
  }
  100% {
    height: 30px;
    width: 30px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
}

.eighteen {
  position: absolute;
  top: 280px;
  left: 860px;
  animation: eighteen 1s ease-in-out infinite;
  animation-delay: 4s;
}

@keyframes eighteen {
  0% {
    height: 23px;
    width: 23px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.3) rotate(-45deg);
    opacity: 1;
  }
  100% {
    height: 23px;
    width: 23px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
}

.nineteen {
  position: absolute;
  top: 160px;
  left: 940px;
  animation: nineteen 1.7s ease-in-out infinite;
  animation-delay: 4s;
}

@keyframes nineteen {
  0% {
    height: 20px;
    width: 20px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.6) rotate(-45deg);
    opacity: 1;
  }
  100% {
    height: 20px;
    width: 20px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
}

.twenty {
  position: absolute;
  top: 350px;
  left: 770px;
  animation: twenty 1.3s ease-in-out infinite;
  animation-delay: 4s;
}

@keyframes twenty {
  0% {
    height: 20px;
    width: 20px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.3) rotate(-45deg);
    opacity: 1;
  }
  100% {
    height: 20px;
    width: 20px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
}

.twenty_one {
  position: absolute;
  top: 210px;
  left: 1070px;
  animation: twenty_one 1.5s ease-in-out infinite;
  animation-delay: 4s;
}

@keyframes twenty_one {
  0% {
    height: 24px;
    width: 24px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.2) rotate(-45deg);
    opacity: 1;
  }
  100% {
    height: 24px;
    width: 24px;
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
}
