/*--------------------------------TODAY--------------------------------------*/
:root {
  --turquoise: #43f077;
  --green: #8ded39;
  --pink: #d880b2;
  --yellow: #edea44;
  --blue: #84a4e0;
  --purple: #dc96dc;
}

body {
  background-color: #fae59c;
  margin: 0;
  overflow: hidden;
}

h1 {
  color: #28322b;
  text-align: center;
  font-family: "Monomaniac One";
  font-size: 64px;
  margin-top: 80px;
  line-height: 64px;
}

h2 {
  color: #fff;
  text-align: center;
  font-family: "Khand";
  font-size: 96px;
  text-shadow: 1px 1px 0 #28322b, -1px 1px 0 #28322b, 1px -1px 0 #28322b,
    -1px -1px 0 #28322b, 0px 1px 0 #28322b, 0px -1px 0 #28322b,
    -1px 0px 0 #28322b, 1px 0px 0 #28322b, 2px 2px 0 #28322b, -2px 2px 0 #28322b,
    2px -2px 0 #28322b, -2px -2px 0 #28322b, 0px 2px 0 #28322b,
    0px -2px 0 #28322b, -2px 0px 0 #28322b, 2px 0px 0 #28322b, 1px 2px 0 #28322b,
    -1px 2px 0 #28322b, 1px -2px 0 #28322b, -1px -2px 0 #28322b,
    2px 1px 0 #28322b, -2px 1px 0 #28322b, 2px -1px 0 #28322b,
    -2px -1px 0 #28322b;
  font-weight: 100;
}

.today {
  width: 100%;
  height: 1000px;
  background-color: #fae59c;
  position: fixed;
  top: 0;
  left: 0;
}

.plus_sve > .plus {
  color: #28322b;
  text-align: center;
  font-family: Kumar One;
  margin: 0%;
  font-size: 128px;
  position: fixed;
  top: 50px;
  left: 30px;
  transition: transform 0.5s;
}

.plus_sve > .plus_black:hover {
  transform: translate(-3px, 4px);
  cursor: pointer;
}

.plus_sve > .plus_black:active {
  color: var(--turquoise);
}

.plus_sve > .plus_shadow {
  position: fixed;
  top: 54px;
  left: 27px;
  color: var(--turquoise);
}

.today_shadow {
  width: 478px;
  height: 138px;
  background: linear-gradient(0deg, #28322b 0%, #28322b 100%),
    linear-gradient(0deg, #28322b 0%, #28322b 100%), #28322b;
  position: fixed;
  right: 0%;
  top: 0%;
}

.today_title {
  width: 493px;
  height: 122px;
  background-color: var(--turquoise);
  position: fixed;
  right: 0%;
  top: 0%;
}

.today_title > h1 {
  color: #28322b;
  text-align: center;
  font-family: Monomaniac One;
  font-size: 48px;
  position: relative;
  bottom: 50px;
}

.date {
  color: #fff;
  text-align: center;
  font-family: Khand;
  font-size: 48px;
  position: fixed;
  right: 80px;
  top: 120px;
}

/*-------------------------------------------ADD NEW----------------------------------------*/

.add_new_shadow {
  width: 848px;
  height: 530px;
  background-color: #28322b;
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add_new {
  width: 848px;
  height: 530px;
  background-color: #fff;
  z-index: 3;
  position: relative;
  bottom: 65px;
  left: 10px;
}

.add_new > .addtext {
  color: #ed39a0;
  font-family: Monomaniac One;
  font-size: 40px;
  position: relative;
  top: 20px;
  left: 30px;
}

.exit {
  transform: rotate(45.228deg);
  color: rgba(40, 50, 43, 0.46);
  text-align: center;
  font-family: KoHo;
  font-size: 80px;
  position: fixed;
  right: 15px;
  margin: 0;
  line-height: 80px;
  z-index: 4;
}

.exit:hover {
  color: #28322bb5;
  cursor: pointer;
}

.exit:active {
  color: #28322bc8;
}

form {
  display: flex;
  width: 700px;
  margin-left: 55px;
  color: #28322b;
  font-family: Kite One;
}

.first_column > input {
  font-size: 14px;
  width: 350px;
  height: 41px;
  padding: 15px;
  margin: 10px;
  margin-left: 8px;
  background-color: rgba(141, 237, 57, 0.32);
  box-sizing: border-box;
  border: none;
  font-family: Kite One;
}

textarea {
  width: 331px;
  height: 250px;
  background-color: rgba(141, 237, 57, 0.32);
  border: none;
  margin-top: 10px;
  margin-left: 7px;
  padding: 10px;
  font-family: Kite One;
}

.first_column > label {
  padding-left: 10px;
}

.second_column {
  width: 300px;
  margin-right: 30px;
  margin-top: 70px;
}

input[type="time"] {
  margin-top: 20px;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-family: helvetica;
  width: 190px;
  outline: none;
  cursor: pointer;
}

input[type="time"]:focus {
  border: none;
}

/* Wrapper around the hour, minute, second, and am/pm fields as well as 
the up and down buttons and the 'X' button */
input[type="time"]::-webkit-datetime-edit-fields-wrapper {
  display: flex;
}

/* The space between the fields - between hour and minute, the minute and 
second, second and am/pm */
input[type="time"]::-webkit-datetime-edit-text {
  padding: 19px 4px;
}

/* The naming convention for the hour, minute, second, and am/pm field is
`-webkit-datetime-edit-{field}-field` */

/* Hour */
input[type="time"]::-webkit-datetime-edit-hour-field {
  background-color: var(--turquoise);
  border-radius: 15%;
  padding: 19px 13px;
}

/* Minute */
input[type="time"]::-webkit-datetime-edit-minute-field {
  background-color: var(--turquoise);
  border-radius: 15%;
  padding: 19px 13px;
}

/* AM/PM */
input[type="time"]::-webkit-datetime-edit-ampm-field {
  background-color: rgba(141, 237, 57, 0.32);
  border-radius: 15%;
  color: #28322b;
  padding: 19px 13px;
}

/* 'X' button for resetting/clearing time */
input[type="time"]::-webkit-clear-button {
  display: none;
}

/* Up/Down arrows for incrementing/decrementing the value */
input[type="time"]::-webkit-inner-spin-button {
  display: none;
}

.save_button_shadow {
  width: 184px;
  height: 50px;
  background-color: #28322b;
  position: fixed;
  right: 34px;
  bottom: 32px;
}

.save_button {
  width: 184px;
  height: 50px;
  background-color: #ed39a0;
  position: fixed;
  right: 28px;
  bottom: 38px;
  color: #fff;
  text-align: center;
  font-family: Monomaniac One;
  font-size: 24px;
  line-height: 48px;
  transition: transform 0.5s;
}

.save_button:hover {
  transform: translate(-6px, 5px);
  cursor: pointer;
}

.save_button:active {
  color: #28322b;
}

/*........................................LIST OF TASKS.........................................*/

.row_list {
  display: flex;
  justify-content: left;
  gap: 30px;
}

.checkbox_list {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #28322b;
  filter: drop-shadow(-3px 4px 0 var(--turquoise));
  color: #fff;
  text-align: center;
}

.time_list {
  color: #28322b;
  font-family: Monomaniac One;
  font-size: 24px;
  position: relative;
  top: -27px;
}

.title_list {
  color: #1d1c1c;
  font-family: Kite One;
  font-size: 32px;
  line-height: 23px;
  position: relative;
  top: -31px;
}

.remove_task {
  font-family: Kumar One;
  transform: rotate(45.228deg);
  color: rgba(40, 50, 43, 0.46);
  font-size: 35px;
  line-height: 35px;
  font-weight: bold;
  position: relative;
  top: -35px;
  cursor: pointer;
  transition: transform 0.5s;
}

.remove_task:hover {
  color: #1d1c1cd0;
}

.remove_task:active {
  color: var(--turquoise);
}

.visibility {
  opacity: 0;
}

ul {
  position: absolute;
  margin-top: 100px;
  margin-left: 30px;
  list-style: none;
}

li {
  height: 70px;
}

.row_list > div {
  line-height: 30px;
}

.tasks_list {
  position: absolute;
  top: 100px;
  left: 170px;
  list-style: none;
}

.check_img {
  background-image: url("kvacica.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: lighten;
}

/*..............................................BUTTONS................................................*/

.sort_button_shadow {
  width: 112px;
  height: 29px;
  background-color: #28322b;
  position: fixed;
  bottom: 70px;
  left: 30px;
  padding-right: 10px;
}

.sort_button {
  position: relative;
  width: 113px;
  height: 31px;
  left: 4px;
  top: -6px;
  background-color: var(--turquoise);
  color: #28322b;
  text-align: center;
  font-family: Monomaniac One;
  font-size: 18px;
  vertical-align: middle;
  line-height: 31px;
  padding-right: 10px;
  transition: transform 0.5s;
}

.sort_button:hover {
  transform: translate(-5px, 5px);
  cursor: pointer;
}

.arrows {
  font-family: "Times New Roman";
  font-weight: bold;
  position: relative;
  top: -3px;
  left: -4px;
}

.change_color {
  position: fixed;
  bottom: 120px;
  left: 30px;
  transition: transform 0.5s;
}

.change_color > img {
  height: 30px;
  width: auto;
  filter: grayscale(0.5);
}
.change_color:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.tekst_change_color {
  width: 117px;
  height: 67px;
  background-color: white;
  color: #1d1c1c;
  text-align: center;
  font-family: Kite One;
  font-size: 16px;
  position: fixed;
  bottom: 190px;
  left: 30px;
  padding-top: 20px;
  vertical-align: middle;
  filter: drop-shadow(-4px 4px 3 #0000004e);
}

.triangle {
  position: fixed;
  bottom: 158px;
  left: 30px;
}

/*......................................ALERT................................................*/

.alert_shadow {
  width: 848px;
  height: 156px;
  background-color: #28322b;
  position: fixed;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.alert_box {
  position: relative;
  width: 848px;
  height: 159px;
  background-color: #fff;
  top: -95px;
  left: 11px;
}

.alert_box > h1 {
  color: #ed39a0;
  text-align: center;
  font-size: 32px;
  padding-top: 20px;
}

.alert_box > p {
  color: #1d1c1c;
  text-align: center;
  font-family: Kite One;
  font-size: 20px;
  position: relative;
  top: -30px;
}

.alert_box > .gotit_button_shadow {
  width: 126px;
  height: 31px;
  background-color: #28322b;
  position: relative;
  top: -40px;
  left: 350px;
}

.gotit_button_shadow > .alert {
  position: relative;
  width: 127px;
  height: 31px;
  left: 4px;
  top: -5px;
  background-color: #ed39a0;
  color: #fff;
  text-align: center;
  font-family: Monomaniac One;
  font-size: 16px;
  vertical-align: middle;
  line-height: 27px;
  transition: transform 0.5s;
}

.alert > p {
  color: #fff;
  text-align: center;
  font-family: Monomaniac One;
  font-size: 16px;
  vertical-align: middle;
  line-height: 27px;
  position: relative;
  top: 0px;
  width: 127px;
  text-align: center;
}

.gotit_button_shadow > .alert:hover {
  transform: translate(-5px, 5px);
  cursor: pointer;
}

/*........................................DESCRIPTION BOX.................................................*/

.description_list {
  position: relative;
  top: -22px;
  font-size: 22px;
  filter: opacity(0.4);
  letter-spacing: 3px;
}

.description_list:hover {
  filter: opacity(0.7);
  cursor: pointer;
}

.description_box_shadow {
  width: 550px;
  height: 336px;
  background-color: #28322b;
  position: fixed;
  top: 303px;
  right: 50px;
}

.description_box {
  width: 540px;
  height: 319px;
  background-color: #fff;
  border: 11px solid var(--turquoise);
  position: relative;
  top: -18px;
  left: -25px;
}

.description_box > p {
  color: #28322b;
  font-family: Monomaniac One;
  font-size: 36px;
  position: relative;
  top: -30px;
  left: 20px;
}

.description_text {
  font-family: Kite One;
  font-size: 20px;
  position: relative;
  top: -30px;
  left: 23px;
}
/*............................................THEME........................................*/

.color_palette {
  width: 117px;
  height: 178px;
  background-color: white;
  position: fixed;
  bottom: 190px;
  left: 30px;
  padding-bottom: 3px;
  padding-right: 2px;
}

.theme {
  width: 42px;
  height: 42px;
  position: relative;
}

.theme:hover {
  border: 2px solid #28322b;
  width: 40px;
  height: 40px;
}

.gr {
  top: 12px;
  left: 12px;
  background-color: var(--green);
}

.pi {
  top: -29px;
  left: 65px;
  background-color: var(--pink);
}

.tu {
  top: -14px;
  left: 12px;
  background-color: #43f077;
}

.ye {
  top: -56px;
  left: 65px;
  background-color: var(--yellow);
}

.bl {
  top: -40px;
  left: 12px;
  background-color: var(--blue);
}

.pu {
  top: -82px;
  left: 65px;
  background-color: var(--purple);
}

/*.............................................OPENING ANIMATION...............................................*/

.opening_animation {
  position: fixed;
  z-index: 22;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: opening_animation;
  animation-duration: 0.7s;
  animation-delay: 3.7s;
  animation-fill-mode: forwards;
}

@keyframes opening_animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.title_one {
  width: 818px;
  height: 131px;
  background-color: white;
  position: relative;
  animation-name: title_one;
  animation-duration: 0.7s;
}

@keyframes title_one {
  0% {
    transform: rotate(14.3deg);
    top: -300px;
  }
  50% {
    transform: rotate(-11deg);
  }
  100% {
    top: 0px;
    rotate: 0deg;
  }
}

.title_animation {
  animation-name: title_animation;
  animation-duration: 0.5s;
  animation-delay: 3.1s;
  position: relative;
  top: 300px;
}

@keyframes title_animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.title_one > h1 {
  letter-spacing: 25.6px;
  font-size: 128px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 20px;
}

.title_two {
  position: relative;
  left: -30px;
}

.TD {
  width: 108.3px;
  height: 135.5px;
  filter: drop-shadow(-10px 10px 0 #28322b);
  position: relative;
}

.TD > h1 {
  color: white;
  font-size: 128px;
  position: relative;
  top: 22px;
}

.T {
  background-color: #ed39a0;
  transform: rotate(11deg);
  top: -200px;
  left: 170px;
  animation-name: T;
  animation-delay: 0.2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes T {
  0% {
    transform: rotate(-11deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  33% {
    transform: rotate(14deg);
  }
  66% {
    transform: rotate(-18deg);
  }
  100% {
    transform: rotate(11deg);
    top: 300px;
    opacity: 1;
  }
}

.D {
  background-color: #43f077;
  transform: rotate(-6deg);
  top: -70px;
  left: 500px;
  animation-name: D;
  animation-delay: 0.9s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes D {
  0% {
    top: -400px;
    transform: rotate(6deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  33% {
    transform: rotate(-14deg);
  }
  66% {
    transform: rotate(18deg);
  }
  100% {
    transform: rotate(-6deg);
    opacity: 1;
    top: -70px;
  }
}

#first_o {
  font-size: 128px;
  transform: rotate(-7deg);
  position: relative;
  top: -270px;
  right: 80px;
  animation-name: o_first;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes o_first {
  0% {
    transform: rotate(11deg);
    top: -350px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  33% {
    transform: rotate(-14deg);
  }
  66% {
    transform: rotate(18deg);
  }
  100% {
    transform: rotate(-7deg);
    top: 130px;
    opacity: 1;
  }
}

#second_o {
  font-size: 128px;
  transform: rotate(12.8deg);
  position: relative;
  top: -230px;
  left: 280px;
  animation-name: o_second;
  animation-delay: 1.3s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes o_second {
  0% {
    transform: rotate(-11deg);
    top: -650px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  33% {
    transform: rotate(14deg);
  }
  66% {
    transform: rotate(-18deg);
  }
  100% {
    transform: rotate(12.8deg);
    top: -230px;
    opacity: 1;
  }
}

.title_three {
  width: 810px;
  height: 125px;
  position: relative;
  top: -240px;
  background-color: var(--green);
  animation-name: title_three;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes title_three {
  0% {
    transform: rotate(-11deg);
    top: 150px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  25% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-18deg);
  }
  75% {
    top: -240px;
    opacity: 1;
  }
  85% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    top: -240px;
    opacity: 1;
  }
}

.title_three > h2 {
  font-size: 128px;
  position: relative;
  top: -25px;
  left: 55px;
  padding-left: 0px;
  letter-spacing: 128px;
}

.second_animation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
}

.button_animation_shadow {
  width: 271px;
  height: 67px;
  background-color: #28322b;
  z-index: 21;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 500px;
  animation-name: button;
  animation-duration: 1s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes button {
  0% {
    top: 500px;
    opacity: 0;
  }
  100% {
    top: 90px;
    opacity: 1;
  }
}

.button_animation {
  position: relative;
  bottom: 8px;
  left: 8px;
  width: 271px;
  height: 57px;
  background-color: #8ded39;
  color: #28322b;
  text-align: center;
  padding-top: 10px;
  font-family: Monomaniac One;
  font-size: 28px;
  transition: transform 0.5s;
}

.button_animation:hover {
  transform: translate(-8px, 8px);
  cursor: pointer;
}

.quote > p {
  color: rgba(255, 255, 255, 0.91);
  text-align: center;
  font-family: Loved by the King;
  font-size: 35px;
  position: relative;
  overflow: hidden;
  border-right: 0.15em solid var(--pink);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes typing {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--pink);
  }
}

.overlay {
  display: flex;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: #1d1c1c85;
  backdrop-filter: blur(10px);
  z-index: 5;
  margin: 0%;
}

.overlay_animation {
  display: flex;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: #1d1c1c85;
  backdrop-filter: blur(10px);
  z-index: 10;
  margin: 0%;
}

.hidden {
  display: none;
}
